.anisha__info {
    color: #242D52;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.714px;
    padding-top: 120px;
}

.anisha__content {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.anisha__list {
    justify-content: space-between;
    display: flex;
}

.anisha__text {
    color: #242D52;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.286px;
    padding-bottom: 19px;
    padding-top: 25px;
}

.anisha__sub-text {
    color: #242D52;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 40px;
}

.anisha__img {

    padding: 0px 234px 184px 234px;
}

.anisha__item {
    background-color: #FAFAFA;
  
 
}


.anisha__btn-text {
    color: #FCF6F5;
    font-size: 13px;
    font-weight: 700;
    line-height: normal;
    padding: 12px 32px 13px 32px;
    border-radius: 50px;
    border: 1px solid #F3603C;
    background-color: #F3603C;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.anisha__btn {
    text-align: center;
    padding-top: 50px;
}